---
layout: product
weight: 2
title: Virtual Tour
product: AHV Aluminum Super-B
description:
group: ahvsuperb
banner: /assets/img/grain/ahvsuperb/product_header_ahv.jpg
---
<section class="content">

	<h2>360º Exterior Virtual Tour</h2>

	<div id="target">
	  <img class="vt-360 rollerblade-img" src="http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_1.jpg">
		<script>
	    $(document).ready(function(){
	    $("#target").rollerblade({imageArray:[
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_1.jpg',
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_2.jpg',
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_3.jpg',
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_4.jpg',
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_5.jpg',
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_6.jpg',
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_7.jpg',
	      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_8.jpg'
	    ],
	        sensitivity : 8,
	        drag : true
	    });

	  })
	</script>

	</div>

	<span class="vt-360-overlay">Click and drag to rotate</span>
</section>

<section class="content">

	<div class="cta_box_wrap">
		<div class="cta_box" onclick="location.href='/unity/index.html';">
			<div class="cta_title">AHV Super-B</div>
			<img src="http://placehold.it/191x108" width="191" height="108" alt="AHV Super-B" style="margin: 10px 0 20px 0;"> <br>
		</div>

		<div class="cta_box" onclick="location.href='/downloads/index.html';">
			<img src="http://placehold.it/200x125" width="200" height="125">
			<p>Download the latest product brochures or request a printed copy by mail.</p>
			<a href="/downloads/index.html">View Brochures</a>
		</div>

		<div class="cta_box" onclick="location.href='/dealers/index.html';">
			<img src="http://placehold.it/200x125" width="200" height="125">
			<p>Locate and contact your nearest dealer with our easy and convenient dealer locator.</p>
			<a href="/dealers/index.html">Find a Dealer Near You</a>
		</div>

		<div class="cta_box" style="border: none;" onclick="location.href='/ideas/index.html';">
			<img src="http://placehold.it/200x125" width="200" height="125">
			<p>Share your best, most innovative product ideas with us and see them come to life.</p>
			<a href="/ideas/index.html">Share Your Ideas</a>
		</div>
	</div>

</section>
