---
layout: default
---

<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item">
    <div class="description careers">
    <div id="wrapper" class="clearfix" style="clear: both;">
      <h2>Example</h2><a href="careers/index.html" class="video">Example button</a>
    </div>
    </div>
    <img src="http://placehold.it/2880x1200" alt="Triple E RV Careers">
  </div>

  <div class="item">
    <div class="description careers">
    <div id="wrapper" class="clearfix" style="clear: both;">
      <h2>Example</h2><a href="careers/index.html" class="video">Example button</a>
    </div>
    </div>
    <img src="http://placehold.it/2880x1200" alt="Triple E RV Careers">
  </div>

</div> <!-- end owl-demo -->

<div id="wrapper">

  <div id="homefeatures">

    <div class="teaser-module clearfix">

      <div class="item">
          <a href="#" class="teaser-img-link shadow" target="" onclick=""><img src="http://placehold.it/580x320" alt="" /></a>
          <a class="teaser-link" target="" href="#">Lorem titlum</a>
          <p>Lorem ipsum dolor...</p>
      </div>

      <div class="item">
          <a href="#" class="teaser-img-link shadow" target="" onclick=""><img src="http://placehold.it/580x320" alt="" /></a>
          <a class="teaser-link" target="" href="#">Lorem titlum</a>
          <p>Lorem ipsum dolor...</p>
      </div>

      <div class="item">
          <a href="#" class="teaser-img-link shadow" target="" onclick=""><img src="http://placehold.it/580x320" alt="" /></a>
          <a class="teaser-link" target="" href="#">Lorem titlum</a>
          <p>Lorem ipsum dolor...</p>
      </div>

      <div class="item">
          <a href="#" class="teaser-img-link shadow" target="" onclick=""><img src="http://placehold.it/580x320" alt="" /></a>
          <a class="teaser-link" target="" href="#">Lorem titlum</a>
          <p>Lorem ipsum dolor...</p>
      </div>

      <div class="item">
          <a href="#" class="teaser-img-link shadow" target="" onclick=""><img src="http://placehold.it/580x320" alt="" /></a>
          <a class="teaser-link" target="" href="#">Lorem titlum</a>
          <p>Lorem ipsum dolor...</p>
      </div>

    </div><!-- end teaser-module -->

  </div><!-- end homefeatures -->

</div><!--close wrapper-->

<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      navigation : true, // Show next and prev buttons
      autoPlay: 15000, //Set AutoPlay to 3 seconds
      stopOnHover : true,
      slideSpeed : 900,
      rewindSpeed: 1000,
      pagination: true,
      paginationNumbers: true,
      paginationSpeed : 600,
      singleItem: true,
      responsive: true,
      //transitionStyle : "fade"

  });

	$(".teaser-module").owlCarousel({

		navigation : true, // Show next and prev buttons
			stopOnHover : true,
			slideSpeed : 900,
			rewindSpeed: 1000,
			autoPlay: 25000, //Set AutoPlay to 3 seconds

			items : 3,
			itemsDesktop : [1199,3],
			itemsDesktopSmall : [979,3]

	});

});
</script>
