---
layout: product
weight: 5
title: Features
product: AHV Aluminum Super-B
description:
group: ahvsuperb
banner: /assets/img/grain/ahvsuperb/product_header_ahv.jpg
---

<div class="page_title">
	<h2>FEATURES & SPECS</h2>
</div>

<div class="spec_sheet_button_2">
    <img src="/images/download_arrow.gif" width="18" height="12" /> <a href="/downloads/specsheets/AHV_Nov_09.pdf" target="_blank">Download Spec Sheet</a>
</div>

<div style="clear:both"></div>
<div class="shadow">
  <div class="features_wrap">



    <!-- tabs -->
    <ul class="tabs">
      <li><a href="#">Standard Features</a></li>
      <li><a href="#">Optional Features</a></li>
      <li><a href="#">Specifications</a></li>
      </ul>

    <!-- panes -->
    <div class="panes">

      <div>
        <h2>STANDARD FEATURES</h2><br />
        <div class="feature_grid">
          <img src="images/feature_1.jpg" width="270" height="149"/>

            <h5>Extra-Wide Mudflaps</h5>
            <p>Exclusively built for Lode-King, the extra wide four-in-row mud-flaps extend out to the full width of the trailer to protect the whole landing gear and at the same time, further protecting the hoppers and chute mechanisms behind.</p>

          </div>
        <div class="feature_grid">
          <img src="images/feature_2.jpg" width="270" height="149" />

            <h5>Wide Open Loading Access</h5>
            <p>Using the Michel’s tarp system, there are no longitudinal straps to get in the way of product being loaded.  The indented roof bows prevent premature wear of the tarp where the built-in ridge pole crosses the roof bow.</p>

          </div>
        <div class="feature_grid" style="margin-right: 0px;">
          <img src="images/feature_3.jpg" width="270" height="149" />

            <h5>Chute opening size</h5>
            <p>The chute size of 16&rdquo; wide by 24&rdquo; long permits not only a quick discharge in the grain terminal but a controlled rate of flow into an un-loading auger on the farm.  This optimum size prevents spillage, especially if the auger hopper isn&rsquo;t lined up perfectly or it&rsquo;s a smaller size.</p>

          </div>
        <div class="feature_grid" style="margin-bottom:0px">
          <img src="images/feature_4.jpg" width="270" height="149" />

            <h5>Interior Access Steps</h5>
            <p>Although interior steps don’t help the flow of product, they are a safe and secure method of getting into and out of the trailer if the need arises.  The operator can enter the trailer from the front or the rear, ascend the divider wall, descend into the next then out the rear and then into the next trailer.</p>

          </div>
        <div class="feature_grid" style="margin-bottom:0px">
          <img src="images/feature_5.jpg" width="270" height="149" />

            <h5>Truck-Lite LED Lighting</h5>
            <p>A fully sealed wiring harness secured between the walls of the trailer is connected to lifetime guaranteed Truck-lite LED lights.</p>

          </div>
        <div class="feature_grid" style="margin-right: 0px; margin-bottom: 0px;">
          <img src="images/feature_6.jpg" width="270" height="149" />

            <h5>Load Gauge enclosure</h5>
            <p>The user-friendly load gauge enclosure features a door with a window to monitor during loading and includes an interior light.  The enclosure in placed in a location that will not interfere with any aspect of the un-loading process yet is easily accessible to the operator.</p>

          </div>

        <div style="clear:both"></div>

        </div><!--close div-->

      <div>
        <h2>OPTIONAL FEATURES</h2><br />
        <div class="feature_grid">
          <img src="images/option_1.jpg" width="270" height="149" />

            <h5>Full Close-Out Sheets</h5>
            <p>Full close-out sheets protect the open cavity above the king pin section and the suspension section from road grime and from snow build up.  They also reduce the amount of drag by eliminating wind turbulence in those areas.</p>

          </div>
        <div class="feature_grid">
          <img src="images/option_2.jpg" width="270" height="149" />

            <h5>Stainless Steel Fenders</h5>
            <p>The NF166SS stainless steel fenders wrap around the tire and reduce the amount of road debris from flying up from the tires.  The fenders are inter-connected with a closure plate between them.  This protects the trailer and also reduces the amount of rocks that might strike other passing vehicles.</p>

          </div>
        <div class="feature_grid" style="margin-right: 0px;">
          <img src="images/option_3.jpg" width="270" height="149" />

            <h5>Interior Vents</h5>
            <p>Vents allow the flow of air into the trailer during un-loading without needing to open the tarp.  Especially useful when un-loading on farm in weather conditions less than favourable.</p>

          </div>
        <div class="feature_grid">
          <img src="images/vibrator.jpg" width="270" height="149" />

            <h5>Vibrator Brackets</h5>
            <p>Some products are by their nature tough to un-load and some extra efforts may be required.  Vibrator brackets can be called for which connect the upper and lower stiffener brackets along the outside of each hopper.  The operator may then insert a pneumatic vibrator, which helps to help move the product inside.</p>

          </div>
        <div class="feature_grid">
          <img src="images/feature_6.jpg" width="270" height="149" />

            <h5>Auxiliary Air Supply</h5>
            <p>An auxiliary air chuck can be installed inside the air gauge box.  It provides air for the pneumatic vibrator.  It is also a handy outlet to bring tire pressure up to recommended PSI.</p>

          </div>

        <div class="feature_grid" style="margin-right: 0px;">
          <img src="images/option_6.jpg" width="270" height="149" />

            <h5>Suspension Protection</h5>
            <p>A full dimension flap can be installed ahead of the first set of suspension hangers.  This not only protects the hanger brackets but also provides full coverage protection for the brake pots, the axles and all the air lines.</p>

          </div>

        <div class="feature_grid" style="margin-bottom: 0px;">
          <img src="images/option_7.jpg" width="270" height="149" />

            <h5>Loading &amp; Un-loading Lights</h5>
            <p>Loading lights on the divider wall inside the trailer, provide that extra light needed during the loading process.  Un-loading lights are tucked in behind the four-in-a-row mudflaps at the front of the trailer and on the stiffener bracket behind the first hopper.  They provide that extra light where either the time of day or the location doesn’t provide a comfortable working environment.</p>

          </div>

        <div style="clear:both"></div>
        </div><!--close div-->

      <div style="display:block;">
        <h2>TRAILER SPECIFICATIONS</h2><br />
        <div class="line_drawing" rel="#line">
        	<img src="images/ahv_b_line.gif" width="875" height="301" style="margin-bottom: 40px; margin-top: 10px;"/>
        </div>
        <h5>BODY STRUCTURE</h5><br />
        <table class="f_table" summary="Body Structure">
          <tbody>
            <tr class="odd">
              <td width="200"><strong>Length</strong></td>
              <td width="760" align="left">Lead 28'6&quot;, Pull 30'5&quot;</td>
              </tr>
            <tr>
              <td><strong>Exterior Width</strong></td>
              <td align="left">102&quot;</td>
              </tr>
            <tr class="odd">
              <td><strong>Interior Width</strong></td>
              <td align="left">97.75&quot;</td>
              </tr>
            <tr>
              <td><strong>Height</strong></td>
              <td align="left">82&quot;, 84&quot; wall height available</td>
              </tr>
            <tr class="odd">
              <td><strong>Structure</strong></td>
              <td align="left">Steel king pin section and suspension frame; walls of double skin aluminum with internal stiffeners, riveted construction</td>
              </tr>
            <tr>
              <td><strong>Slopes</strong></td>
              <td align="left">Aluminum, 30 deg. except 43 deg. at rear of Lead</td>
              </tr>
            <tr class="odd">
              <td><strong>Hoppers</strong></td>
              <td align="left">Aluminum, formed with two rows of stiffeners, chute frame riveted to hopper cone</td>
              </tr>
            <tr>
              <td><strong>Ladders</strong></td>
              <td align="left">Aluminum, front and rear with interior access steps</td>
              </tr>
            <tr class="odd">
              <td><strong>Landing Gear</strong></td>
              <td align="left">Holland Mark V, 2 speed with attached handle</td>
              </tr>
            <tr>
              <td><strong>Fenders</strong></td>
              <td align="left">NF166SS with closure plates</td>
              </tr>
            <tr class="odd">
              <td><strong>Mudflaps</strong></td>
              <td align="left">Heavy duty, black rubber, anti-sail</td>
              </tr>
            <tr>
              <td><strong>Tarp</strong></td>
              <td align="left">Michel's with flip-stops, reinforcement over roof-bows, fiberglass ridge-pole</td>
              </tr>
            <tr class="odd">
              <td><strong>Tarp Supports</strong></td>
              <td align="left">Aluminum roof bows and end caps</td>
              </tr>
            <tr>
              <td><strong>Lighting</strong></td>
              <td align="left">7-Way connector at front, LED lights, Lode-King sealed wiring system</td>
              </tr>
            <tr class="odd">
              <td><strong>Finish</strong></td>
              <td align="left">Pre-painted aluminum exterior, natural aluminum hoppers and interior surfaces, painted steel king pin section and suspension frame</td>
              </tr>
            </tbody>
          </table>
        <br /><br /><br />
        <h5>RUNNING GEAR</h5><br />

        <table class="f_table" summary="Running Gear">
          <tbody>
            <tr class="odd">
              <td width="200"><strong>Suspension</strong></td>
              <td width="760" align="left">Intraax AANT23K air ride</td>
              </tr>
            <tr>
              <td><strong>Axles</strong></td>
              <td align="left">Hendrickson 5.75&quot; round on Intraax. All axles 77.5&quot; track</td>
              </tr>
            <tr class="odd">
              <td><strong>ABS</strong></td>
              <td align="left">Meritor Wabco</td>
              </tr>
            <tr>
              <td><strong>Oil Seals</strong></td>
              <td align="left">Guardian HP</td>
              </tr>
            <tr class="odd">
              <td><strong>Hubs</strong></td>
              <td align="left">10 stud, hub piloted, cast or lighter weight options</td>
              </tr>
            <tr>
              <td><strong>Drums</strong></td>
              <td align="left">Outboard, cast or lightweight options</td>
              </tr>
            <tr class="odd">
              <td><strong>Brakes</strong></td>
              <td align="left">16 1/2&quot; x 7&quot; quick change</td>
              </tr>
            <tr>
              <td><strong>Brake Linings</strong></td>
              <td align="left">Abex 931-162</td>
              </tr>
            <tr class="odd">
              <td><strong>Wheels</strong></td>
              <td align="left">Aluminum 22.5&quot; or 24.5&quot;</td>
              </tr>
            <tr>
              <td><strong>Tires</strong></td>
              <td align="left">Wide range of Michelin and Bridgestone products available</td>
              </tr>
            </tbody>
          </table>

        <br /><br /><br />
        <h5>TRAILER VOLUME (CUBIC FT.)</h5><br />

        <table width="98%" class="v_table" summary="Volume">
          <tbody>
            <tr>
              <td width="188" rowspan="2" align="right" bgcolor="#f8f8f8"><strong>WALL HEIGHT</strong></td>
              <td colspan="2" align="center" bgcolor="#f8f8f8"><strong>Lead</strong></td>
              <td colspan="2" align="center" bgcolor="#f8f8f8"><strong>Pull</strong></td>
              <td colspan="2" align="center" bgcolor="#f8f8f8"><strong>Total</strong></td>
              </tr>
            <tr>
              <td width="122" align="center" bgcolor="#f8f8f8"><strong>Water Level</strong></td>
              <td width="122" align="center" bgcolor="#f8f8f8"><strong>Heaped</strong></td>
              <td width="122" align="center" bgcolor="#f8f8f8"><strong>Water Level</strong></td>
              <td width="122" align="center" bgcolor="#f8f8f8"><strong>Heaped</strong></td>
              <td width="122" align="center" bgcolor="#f8f8f8"><strong>Water Level</strong></td>
              <td width="122" align="center" bgcolor="#f8f8f8"><strong>Heaped</strong></td>
              </tr>
            <tr>
              <td align="right" bgcolor="#f8f8f8"><strong>82&quot;</strong></td>
              <td align="center">1239</td>
              <td align="center">1335</td>
              <td align="center">1428</td>
              <td align="center">1531</td>
              <td align="center">2667</td>
              <td align="center">2866</td>
              </tr>
            <tr>
              <td align="right" bgcolor="#f8f8f8"><strong>84</strong></td>
              <td align="center">1275</td>
              <td align="center">1371</td>
              <td align="center">1466</td>
              <td align="center">1570</td>
              <td align="center">2741</td>
              <td align="center">2941</td>
              </tr>
            </tbody>
          </table>


        <br /><br /><br />
        <h5>OPTIONS</h5><br />

        <table class="f_table" summary="Options">
          <tbody>
            <tr class="odd">
              <td>4 in a row full coverage 102&quot; wide mudflaps ahead of landing gear</td>
              </tr>
            <tr>
              <td>Brake pot belting ahead of suspension</td>
            </tr>
            <tr class="odd">
              <td>Load gauge enclosure with internal light and a sealed window in the door</td>
              </tr>
            <tr>
              <td>Air outlet in load gauge enclosure</td>
              </tr>
            <tr class="odd">
              <td>Implement style loading light for each hopper</td>
              </tr>
            <tr>
              <td>Implement style unloading light</td>
              </tr>
            <tr class="odd">
              <td>Chute openings from both sides</td>
              </tr>
            <tr>
              <td>Vent - Pair in each hopper</td>
              </tr>
            <tr class="odd">
              <td>Tow hooks at rear</td>
            </tr>
            <tr>
              <td>Placard holders</td>
              </tr>
            <tr class="odd">
              <td>Hubodometer</td>
              </tr>
            <tr>
              <td>Lift Axles</td>
              </tr>
            <tr class="odd">
              <td>Close-out sheets above king pin</td>
            </tr>
            <tr>
              <td>Close-out sheets above suspension</td>
            </tr>

            <tr class="odd">
              <td>Kompensator fifth wheel</td>
            </tr>
            <tr>
              <td>Extended service brake linings</td>
              </tr>
            </tbody>
          </table>
        </div><!--close div-->

      </div><!--close panes-->


</div><!--close features_wrap--></div>
<div style="clear:both"></div>
