<div class="content-nav">
  <ul class="content-nav">
    {% assign sorted_pages = site.pages | sort: 'weight' %}
    {% assign section = url | remove_first: '/' | split: '/' | first %}
    {% for node in sorted_pages %}
      {% if node.title != nil and node.url != '/' %}
      {% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
      <li><a {% if nodediff != page.url %}class="on" {% endif %}href="{{node.url}}">{{node.title}}</a></li>
      {% endif %}
    {% endfor %}
    <li style="float:right"><a class="brochured" href="javascript:void(0);" rel="#brochuredl">Brochure</a></li>
    <li style="float:right"><a class="quoted" href="#">Get a Quote</a></li>
  </ul>
</div><!--close content-nav-->
