<div id="footer">

		<div id="footer_wrapper">

          <div class="footer_col1">
                <h5>PRODUCTS</h5>
                <ul class="footer_list">
                    <li><a href="/products/index.html#grain">Grain Trailers</a></li>
                    <li><a href="/products/index.html#flatdeck">Flat Deck Trailers</a></li>
                    <li><a href="/products/index.html#dropdeck">Drop Deck Trailers</a></li>
                    <li><a href="/products/index.html#btrain">B-Train Deck Trailers</a></li>
                    <li><a href="/products/index.html#specialized">Specialized Trailers</a></li>
                </ul>
          </div><!--close .footer_col1-->

          <div class="footer_col1">
                <h5>QUICK LINKS</h5>
                <ul class="footer_list">
                    <li><a href="/company/index.html">Company</a></li>
                    <li><a href="/products/index.html">View All Products</a></li>
                    <li><a href="/downloads/index.html">Downloads</a></li>
                    <li><a href="/news/index.html">News & Events</a></li>
                    <li><a href="/company/careers.html">Careers</a></li>
                    <li><a href="/company/contact.html">Contact Us</a></li><br />
                </ul>
          </div><!--close .footer_col1-->

            <div class="footer_col2">
                <h5>BROCHURE REQUESTS</h5>
                <a href="/downloads/index.html">Download the latest product brochures or request a printed copy by mail.</a><br />
                <br />
                <h5>FIND A DEALER NEAR YOU</h5>
                <a href="/dealers/index.html">Locate and contact your nearest dealer with our easy and convenient dealer locator.</a><br />
            </div><!--close .footer_col2-->

            <div class="footer_col3">
                <h5>EMAIL NEWSLETTER</h5>
                Be the first to know! Stay up to date with the latest Lode King News, Product Updates and more.<br />
                <div class="enews_signup" onclick="location.href='/enews.html';">
                    <a href="/enews.html">SIGN UP FOR E-NEWS</a>
                </div>
            </div><!--close .footer_col3-->

            <div class="clear">
            </div>

          <div class="copyright">
            Lode King Industries is a division of Triple E Canada Ltd. All Rights Reserved. Copyright © 2014. <a href="/privacy.html">Privacy.</a> <a href="/sitemap.html">Sitemap.</a>
          </div><!--close .copyright-->

          <div class="socialnet">
                <a href="http://www.youtube.com/lodekingindustries" target="_blank" onmouseover="MM_swapImage('Image72','','/images/sn_yt_over.png',1)" onmouseout="MM_swapImgRestore()"><img src="/images/sn_yt.png" alt="YouTube" name="Image72" width="25" height="25" border="0" id="Image72" style="margin-right: 3px;"/></a><a href="http://www.flickr.com/photos/lodekingindustries" target="_blank" onmouseover="MM_swapImage('Image73','','/images/sn_fl_over.png',1)" onmouseout="MM_swapImgRestore()"><img src="/images/sn_fl.png" alt="Flickr Gallery" name="Image73" width="25" height="25" border="0" id="Image73"/></a>
          </div><!--close .socialnet-->

        <div class="bottombar">
            <img src="/images/logo_bottom.gif" width="125" height="30" />
        </div><!--close .bottombar-->

</div><!--close footer_wrapper-->
</div> <!--close #footer-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8378577-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
