<head>
  <meta charset="utf-8">
  <title>{% if page.title%}{{ site.title }} - {{ page.product }} - {{ page.title}}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="/js/jquery.tools.min.no.jq.js"></script>

  <script src="/js/smoothscroll.js" type="text/javascript"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/jquery.backstretch.min.js"></script>
  {% if page.title == 'Overview' %}
  <script src="http://leisurevans.com/js/waypoints.min.js"></script>
  <script src="/assets/js/waypoints.js"></script>
  {% endif %}
  <script src="/js/rollerblade.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  {% if page.title == 'Photos' %}
  <script src="/assets/js/lib/jquery.swipebox.min.js"></script>
  <link rel="stylesheet" href="/assets/css/swipebox.min.css">
  <script src="/assets/js/lib/jquery.isotope.min.js"></script>
  {% endif %}

  <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7710852/632466/css/fonts.css" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://use.typekit.net/uhb5clq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
