<!--[if lt IE 7]> <div style=' clear: both; height: 42px; padding:0 0 0 77px; position: relative; '> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->

<div class="topnav">

  <div class="wrapper">

      <nav class="main-menu" role="navigation">
        <ul class="primary-nav">
          <li class="menu-logo"><a href="/index.html"><img src="/images/lodeking.svg" alt="Lode King"></a></li>
          <li><a href="/products/index.html#grain" >GRAIN</a>
            <ul>
              <div class="popup_box" onclick="location.href='/grain/ahvsuperb/';">
                <img src="/images/popup_ahv_superb.png" width="270" height="125" style="padding-bottom: 10px;"/>
                <div class="popup_label">
                  AHV Aluminum Super-B
                </div><!--close popup_label-->
              </div><!--close popup_box-->

            </ul>
          </li>

          </ul><!-- close primarynav ul -->
        </nav><!-- close nav -->

  </div><!--close wrapper-->

</div><!-- close topnav -->
