<div class="overviewnav">
  <ul>
    <li class="overview01"><a href="javascript:void(0);" class="overview01 active">Explore</a></li>
    <li class="overview02"><a href="javascript:void(0);" class="overview02">Exterior</a></li>
    <li class="overview03"><a href="javascript:void(0);" class="overview03">Interior</a></li>
  </ul>
</div>
