---
layout: product
weight: 4
title: Videos
product: AHV Aluminum Super-B
description:
group: ahvsuperb
banner: /assets/img/grain/ahvsuperb/product_header_ahv.jpg
---
<section class="content">
								<div class="introtext">
									<h2>AT THE TOP OF ITS CLASS.</h2>
									<p>The AHV series of grain trailers is the newest in product development by Lode-King.  It offers all the benefits of the company's earlier innovations with the added benefits of a full aluminum trailer.  Designed from the ground up attention has been given to the details which operators have indicated are the most important in their daily operations.</p><br />
								</div><!-- /introtext -->

								<div class="onthispage">
									<div class="explore">EXPLORE THE AHV SUPER-B</div>
								</div><!-- /onthispage -->

								<div class="featurelist">
									<ul>
										<li><a href="#highlight_1">Tapered End Walls</a></li>
										<li><a href="#highlight_2">Vented Walls</a></li>
										<li><a href="#highlight_3">Self-Cleaning Chute Gate Slide Track</a></li>
										<li><a href="#highlight_4">Chute Opening Shafts</a></li>
										<li><a href="#highlight_5">Tow Hooks</a></li>
									</ul>
								</div><!-- /featurelist -->

							</section>


							<section class="content">

								<h2>360º Exterior Virtual Tour</h2>

								<div id="target">
								  <img class="vt-360 rollerblade-img" src="http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_1.jpg">
									<script>
								    $(document).ready(function(){
								    $("#target").rollerblade({imageArray:[
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_1.jpg',
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_2.jpg',
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_3.jpg',
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_4.jpg',
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_5.jpg',
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_6.jpg',
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_7.jpg',
								      'http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/360_ahvsuperb_8.jpg'
								    ],
								        sensitivity : 8,
								        drag : true
								    });

								  })
								</script>

								</div>

								<span class="vt-360-overlay">Click and drag to rotate</span>
							</section>

							<section class="content">

								<div class="product__slider-main owl-carousel owl-theme">

									<div class="item"><img src="/assets/img/products/grain/ahv-super-b/tapered.jpg" alt=""></div>
									<div class="item"><img src="/assets/img/products/grain/ahv-super-b/tapered_3.jpg" alt=""></div>
									<div class="item"><img src="/assets/img/products/grain/ahv-super-b/tapered_2.jpg" alt=""></div>

								</div>

							</section>

<div class="slider_1" id="highlight_1">

  <div id="featured">
		<img src="images/tapered.jpg"/>
    <img src="images/tapered_3.jpg"/>
		<img src="images/tapered_2.jpg"/>

  </div>


</div><!--close .slider_1-->

<div class="introtext">
	<h2>TAPERED END WALLS</h2>
    <p>Tapered end walls are especially helpful in increasing the amount of room between the lead and pull of the super-B, which makes it a lot more comfortable to open and close tarps.  It’s also easier to climb up a slanted ladder.</p>
</div><!--close .introtext-->

<div class="action">
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
	<div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .action-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>


<div class="slider_2" id="highlight_2">
    <img src="images/vents.jpg" width="650" height="280" />
</div><!--close .slider_2-->

<div class="text_right">
	<h2>VENTED WALLS</h2>
    <p style="padding-bottom: 80px;">Vents along the lower rail allow for free air movement between the inner and outer walls.  This permits the equalization of temperature and humidity that prevents sweating and also assists in preventing material from sticking to the inside.</p>
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .text_right-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>


<div class="slider_3" id="highlight_3">
  <img src="images/slide_track.jpg" width="975" height="300" />
</div>

<div class="introtext">
	<h2>SELF-CLEANING CHUTE GATE SLIDE TRACK</h2>
    <p>The track on which the chute gate slides is designed so that it does not allow any product to remain on them.  The chute itself slides past the fully open trap for complete clean-out.</p>
</div><!--close .introtext-->

<div class="action">
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .action-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>


<div class="slider_4" id="highlight_4">
  <img src="images/chute_shaft.jpg" width="975" height="400" />
</div>

<div class="introtext">
	<h2>CHUTE OPENING SHAFTS</h2>
    <p>The shafts are stainless steel making them impervious to rust or flying road debris.  They’re set high enough to allow for a full crank rotation with un-loading augers in place.  You may also request a shaft on each side so you don’t have to un-load down-wind.</p>
</div><!--close .introtext-->

<div class="action">
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .action-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>


<div class="slider_2" id="highlight_5">
    <img src="images/tow_hooks.jpg" width="650" height="280" />
</div><!--close .slider_2-->

<div class="text_right">
	<h2>TOW HOOKS</h2>
    <p style="padding-bottom: 95px;">The tow hooks are not merely bolted to the back end of the trailer; they’re welded into place as an integral part of the rear sub-frame assembly.  They built to withstand a forceful tug if it’s needed.</p>
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .text_right-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>

<div class="cta_box_wrap">
    <div class="cta_box" onclick="location.href='/unity/index.html';">
        <div class="cta_title">AHV Super-B</div>
        <img src="http://placehold.it/191x108" width="191" height="108" alt="AHV Super-B" style="margin: 10px 0 20px 0;"> <br>
    </div>

    <div class="cta_box" onclick="location.href='/downloads/index.html';">
      <img src="http://placehold.it/200x125" width="200" height="125">
      <p>Download the latest product brochures or request a printed copy by mail.</p>
      <a href="/downloads/index.html">View Brochures</a>
    </div>

    <div class="cta_box" onclick="location.href='/dealers/index.html';">
      <img src="http://placehold.it/200x125" width="200" height="125">
      <p>Locate and contact your nearest dealer with our easy and convenient dealer locator.</p>
      <a href="/dealers/index.html">Find a Dealer Near You</a>
    </div>

    <div class="cta_box" style="border: none;" onclick="location.href='/ideas/index.html';">
      <img src="http://placehold.it/200x125" width="200" height="125">
      <p>Share your best, most innovative product ideas with us and see them come to life.</p>
      <a href="/ideas/index.html">Share Your Ideas</a>
    </div>
<div style="clear:both"></div>
</div>

<script>
$(window).load(function() {
		$('#featured').orbit();
});
$(document).ready(function() {
		$("#content_nav_wrapper").sticky();
		$("img[rel]").overlay({fixed: false, top: 135, effect: 'apple', mask: {color: '#111', loadSpeed: 100, opacity: 0.5}  });
		$("a[rel], .mini_logos img[rel], .content img[rel]").overlay({fixed: false, mask: {color: '#fff', loadSpeed: 100, opacity: 0.95}  });
		$("#product_header img[title]").tooltip({effect: 'fade'});
		$("#product_header").backstretch("images/product_header_ahv_2.jpg", {speed: 650});
});
</script>

<!-- CURRENT BROCHURE FORM -->
<div id="brochuredl" class="productbrochure overlay">
    <img src="/images/brochure_popup_header.jpg" width="730" height="200" alt="Lode-King AHV Super-B Grain Trailer" class="roundimg"/>
    <div class="brochuredl_content">
			<div id="wufoo-qn15hem1ag58z8">
			Fill out my <a href="https://melias.wufoo.com/forms/qn15hem1ag58z8">online form</a>.
			</div>
			<script type="text/javascript">var qn15hem1ag58z8;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'melias',
			'formHash':'qn15hem1ag58z8',
			'autoResize':true,
			'height':'1076',
			'async':true,
			'host':'wufoo.com',
			'header':'show',
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { qn15hem1ag58z8 = new WufooForm();qn15hem1ag58z8.initialize(options);qn15hem1ag58z8.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
    <a href="/downloads/index.html">View Archived Brochures</a>
    </div><!-- end brochuredl_content -->
</div><!-- end productbrochure -->
