// _block.scss

.wrapper {
  text-align: left;
  width: 975px;
  margin-right: auto;
  margin-left: auto;
}

.content:first-of-type {
  margin-top: 6.5rem;
}

.content {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
  @include clearfix;
}

.content img {
  max-width: 100%;
}
