@charset "UTF-8";

body {
  font-family: proxima-nova,helvetica,arial,sans-serif;
  background-color: #e8e8e8;
  margin: 0;
}

.intro_links,
.introtext {
  float: left;
}

.image_grid img,
.line_drawing,
.product_wrap,
.vid_thumb img {
  cursor: pointer;
}

a {
  outline: 0;
}

:focus {
  -moz-outline-style: none;
}

ul.tabs a {
  outline: 0;
}

a img,
img {
  border: 0;
}

a:link,
a:visited {
  color: #545454;
  text-decoration: none;
}

a:hover,
a:visited:hover {
  color: #000;
  text-decoration: underline;
}

a:active,
a:visited:active {
  color: #000;
  text-decoration: none;
}

p {
  margin-top: 0;
  line-height: 160%;
  font-size: 13px;
  color: #666;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
  color: #111;
}

h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}

.header_image {
  vertical-align: bottom;
}

.shadow {
  box-shadow: rgba(0,0,0,.2) 0 0 8px;
}

.page_title {
  padding-top: 20px;
  float: left;
  clear: both;
  width: 500px;
}

#product_header {
  width: 100%;
  height: 625px;
  padding-top: 50px;
}

#product_header h1 {
  padding-top: 0;
  font-size: 56px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.introtext {
  margin-top: 10px;
  width: 570px;
}

.introtext p {
  font-size: 16px;
}

.introtext h2 {
  font-size: 40px;
}

.shadow_line {
  clear: both;
  padding-top: 40px;
  padding-bottom: 90px;
}

.intro_links a {
  font-size: 13px;
  color: #333;
  font-weight: 700;
}

.intro_links a:hover {
  color: #000;
}

.text_right {
  float: right;
  width: 300px;
  padding-left: 25px;
}

.text_right h2 {
  font-size: 30px;
}

.text_right p {
  font-size: 16px;
}

.slider_1 {
  padding-bottom: 30px;
  width: 975px;
}

.slider_2 {
  width: 650px;
  float: left;
}

.slider_3,
.slider_4 {
  padding-bottom: 20px;
  width: 975px;
}

.action {
  width: 375px;
  padding-left: 30px;
  float: right;
  margin-top: 10px;
  text-align: right;
}

.action_button {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  float: right;
  width: 200px;
  background-color: #033d74;
  color: #fff;
  border-radius: 3px;
  font-weight: 400;
  letter-spacing: .5px;
}

.action_button a {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}

.action_button a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #042a4f;
  border-radius: 3px;
}

.spec_sheet_button_2 {
  margin-top: 30px;
  float: right;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  width: 220px;
}

.top {
  clear: right;
  float: right;
  font-size: 11px;
  padding-top: 10px;
  color: #555;
}

.top a {
  font-weight: 700;
}

.gallery_on {
  float: left;
  padding-right: 12px;
}

.gallery_off {
  float: left;
}

.gallery_off a,
.gallery_on a {
  color: #eee;
}

.video_gallery {
  width: 925px;
  height: 400px;
  background-color: #fff;
  padding: 35px 15px 35px 35px;
}

.video_gallery_left {
  float: left;
  width: 560px;
  height: 350px;
}

.video_gallery_right {
  float: right;
  width: 335px;
}

.vid_thumb {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 12px;
  width: 156px;
  font-weight: 700;
}

.vid_thumb img {
  border: 3px solid #ccc;
  margin-bottom: 3px;
}

.vid_thumb img:hover {
  border: 3px solid #2f7fbc;
}

.downloads_wrap,
.features_wrap {
  width: 975px;
  background-color: #fff;
}

.feature_grid {
  width: 270px;
  height: 360px;
  margin-bottom: 20px;
  float: left;
  margin-right: 30px;
  background-color: #fff;
}

.feature_grid h5 {
  font-size: 15px;
  color: #222;
  padding-top: 15px;
}

.feature_grid p {
  color: #666;
}

.feature_grid a {
  font-size: 12px;
  font-weight: 700;
  color: #2d7dbe;
}

.image_grid {
  width: 291px;
  height: 305px;
  margin-bottom: 30px;
  float: left;
  margin-right: 21px;
  background-color: #f0f0f0;
}

.image_grid:hover {
  background-color: #e7e7e7;
}

.image_grid_text {
  padding: 15px;
  font-size: 12px;
  line-height: 160%;
  color: #555;
}

.image_grid_text h5 {
  font-size: 15px;
  color: #111;
}

.image_grid a {
  padding-left: 5px;
  font-weight: 700;
  font-size: 12px;
  color: #2d7dbe;
}

.image_grid a:hover,
.image_grid a:visited:hover {
  padding-left: 5px;
  font-weight: 700;
  font-size: 12px;
  color: #256aa1;
}

.brochures_wrap {
  width: 915px;
  background-color: #fff;
  padding: 30px;
  font-size: 12px;
}

.brochures_left_col a {
  font-size: 13px;
  color: #111;
  line-height: 180%;
}

.brochures_left_col a:hover {
  font-weight: 700;
  text-decoration: none;
}

.brochures_left_col {
  float: left;
  width: 450px;
}

.brochures_right_col {
  float: right;
  width: 350px;
  padding: 20px;
  background-color: #eee;
}

.archived_column {
  float: right;
  padding: 25px;
  width: 200px;
  color: #888;
  font-size: 13px;
  line-height: 120%;
  background-color: #eee;
}

.right_col_links {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
}

.right_col_links li {
  font-size: 13px;
  line-height: 140%;
  color: #111;
  border-bottom: 1px dotted #aaa;
}

.right_col_links li a {
  padding-left: 10px;
  color: #666;
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
}

.right_col_links li a:hover {
  text-decoration: none;
  color: #000;
}

.right_col_links li:hover {
  background-color: #ddd;
}

.sitemap_list {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  color: #666;
  font-size: 13px;
  line-height: 160%;
}

.product_wrap {
  width: 258px;
  float: left;
  padding: 25px;
}

.product_wrap h5 {
  font-size: 15px;
}

.product_wrap p {
  font-size: 12px;
  line-height: 150%;
  color: #555;
}

.product_wrap:hover {
  background-color: #eee;
}

.product_sub_category {
  padding-top: 35px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

.dealer_province {
  border-bottom: 1px dotted #ccc;
}

.product_sub_category h5 {
  color: #555;
  margin-bottom: 0;
  padding-bottom: 0;
}

.download_left {
  float: left;
  width: 620px;
}

.download_left h5 {
  margin-bottom: 20px;
}

.download_right {
  float: right;
  width: 220px;
  padding: 25px;
  background-color: #eee;
}

.download_right p {
  font-size: 12px;
}

.downloads_wrap_box {
  background-color: #fff;
}

.download_left a {
  font-size: 13px;
  color: #444;
  line-height: 180%;
}

.download_left a:hover {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.downloads_category {
  text-align: center;
  margin-bottom: 10px;
}

.images_wrap {
  width: 915px;
  background-color: #fff;
  padding: 30px;
}

.position_wrap,
.posting {
  background-repeat: no-repeat;
  background-position: center bottom;
}

.contact_left {
  float: left;
  width: 630px;
  padding-right: 0;
  font-size: 13px;
  line-height: 150%;
}

.app_button,
.contact_right,
.news_right,
.news_right p {
  font-size: 12px;
}

.contact_right {
  float: right;
  padding-left: 25px;
  width: 224px;
  line-height: 140%;
}

.app_button {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  width: 200px;
  background-color: #aaa;
  border-radius: 3px;
}

.app_button a:hover,
.app_button_inline {
  background-color: #888;
  border-radius: 3px;
}

.app_button a {
  color: #fff;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
}

.app_button a:hover {
  text-decoration: none;
  color: #fff;
}

.app_button_inline {
  float: left;
  margin: 22px 10px 8px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.app_button_inline a {
  color: #fff;
  display: block;
  padding: 4px 15px;
}

.app_button_inline a:hover {
  background-color: #333;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
}

.news_right {
  background-color: #eee;
  margin-bottom: 25px;
}

.posting {
  background-image: url(/company/images/people_bkg.gif);
  padding: 25px 40px 25px 25px;
  overflow: hidden;
}

.news_right {
  float: right;
  width: 210px;
  line-height: 160%;
  color: #666;
  padding: 20px;
}

.career_slider,
.career_wrap {
  background-color: #fff;
}

.career_wrap {
  padding-top: 1px;
  padding-left: 0;
  padding-right: 0;
  width: 976px;
}

.career_slider {
  width: 975px;
}

.position_wrap {
  padding: 20px 30px;
  height: 116px;
  margin-bottom: 5px;
  background-color: #eee;
  background-image: url(/company/images/list_bkg.gif);
}

.position_wrap:hover {
  background-image: url(/images/why_lk_bkg_over.gif);
  background-repeat: repeat-x;
  box-shadow: inset 0 0 15px rgba(0,0,0,.2);
}

.people_wrap_1,
.people_wrap_2 {
  background-repeat: no-repeat;
  margin-bottom: 50px;
  background-position: center bottom;
}

.position_wrap a {
  font-weight: 700;
}

.position_img {
  float: left;
  margin-right: 20px;
}

.people_wrap_1 {
  margin-top: 20px;
  padding: 0 30px 55px 275px;
  background-image: url(/company/images/chico_bkg.jpg);
}

.people_wrap_2 {
  padding: 0 275px 40px 30px;
  background-image: url(/company/images/ken_bkg.jpg);
}

.people_wrap_3 {
  margin-bottom: 50px;
  padding: 0 30px 40px 275px;
  background-image: url(/company/images/neil_bkg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.enews_signup {
  background-image: url(/images/right_arrow.png);
  background-repeat: no-repeat;
  font-weight: 700;
  cursor: pointer;
}

.people_wrap_1 p,
.people_wrap_2 p,
.people_wrap_3 p {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-style: italic;
  line-height: 160%;
}

.dealer_province {
  padding: 20px 40px 35px 25px;
  margin-bottom: 20px;
}

.dealer_name {
  font-size: 14px;
  font-weight: 700;
}

.dealer_details {
  font-size: 12px;
  color: #555;
  line-height: 145%;
}

.dealer_details a,
.dealer_details a:visited {
  text-decoration: none;
  color: #00305d;
  font-weight: 700;
}

.dealer_details a:hover,
.dealer_details a:visited:hover {
  text-decoration: underline;
  color: #00305d;
}

.privacy_left_column {
  float: left;
  width: 615px;
  padding-right: 20px;
  font-size: 13px;
  line-height: 140%;
}

.privacy_wrap {
  width: 915px;
  padding: 30px;
  background-color: #fff;
}

.form_box {
  background-color: #eee;
  padding: 20px;
  border-radius: 3px;
}

#footer {
  margin-top: 40px;
  width: 100%;
  background-color: #ddd;
  border-bottom: 10px solid #033c73;
}

#footer h5 {
  font-size: 15px;
  color: #333;
}

#footer_wrapper {
  text-align: left;
  width: 975px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  font-size: 12px;
  color: #444;
  line-height: 160%;
}

.footer_col1 {
  float: left;
  width: 200px;
}

.footer_col2 {
  float: left;
  width: 257px;
  padding-right: 30px;
}

.footer_col2 a {
  color: #666;
}

.footer_col2 a:hover {
  color: #000;
}

.footer_col3 {
  float: left;
  width: 247px;
  background-color: #cbcbcb;
  padding: 20px;
}

.enews_signup {
  background-position: 95% center;
  margin-top: 5px;
  background-color: #02427f;
  padding: 5px 0 5px 12px;
  border-radius: 2px;
}

.enews_signup:hover {
  background-color: #00305d;
}

.enews_signup a,
.enews_signup a:visited {
  color: #fff;
  text-decoration: none;
}

.footer_list {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

.footer_list a {
  color: #666;
}

.footer_list a:hover {
  color: #000;
}

.clear {
  margin-top: 10px;
  width: 975px;
  height: 1px;
  clear: both;
  font-size: 1px;
  background-color: #ccc;
}

.copyright {
  padding-top: 5px;
  color: #888;
  font-size: 11px;
  float: left;
  width: 630px;
  height: 18px;
}

.socialnet {
  width: 220px;
  height: 60px;
  float: right;
  padding-top: 9px;
  text-align: right;
}

.cushycms,
.cushycms li {
  margin: 0;
  padding: 0;
}

.bottombar {
  clear: both;
  height: 30px;
  text-align: right;
}

.productbrochure {
  width: 730px;
  margin: 5px auto;
  background: #fff;
  background-size: 180px;
  box-shadow: 0 0 12px rgba(204,204,204,.75);
  padding: 0;
  border-radius: 5px;
  z-index: 500;
  display: none;
}

.productbrochure a {
  display: block;
  width: 100%;
  border: 1px solid #c4c8cc;
  border-radius: 5px;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all .2s ease-in-out 0s;
  font-weight: 600;
  font-family: 'Gotham A','Gotham B',Gotham,sans-serif,Arial,Helvetica;
}

.productbrochure a:hover {
  background: rgba(0,0,0,.7);
  color: #fff;
  text-decoration: none;
  transition: all .2s ease-in-out 0s;
}

#content_nav,
#owl-demo .item .description a,
.breadcrumbs,
.menu-icon {
  text-transform: uppercase;
}

.productbrochure a.close {
  display: inline;
  border: none;
  margin: 0;
  padding: 0;
  background: url(/images/close_button.png) no-repeat;
  position: absolute;
  width: 35px;
}

.menu-icon::before,
.social-icon::before {
  background-size: 48px 96px;
}

.brochuredl_content {
  padding: 40px;
}

.f_table {
  background: #fff;
}

.f_table td {
  color: #555;
  padding: 10px 12px;
}

.odd {
  background-color: #f4f4f4;
}

.v_table {
  background: #fff;
}

.v_table td {
  border: 1px solid #ccc;
  color: #555;
  padding: 10px 12px;
}

#owl-demo {
  overflow: hidden;
  margin-top: 0;
  max-height: 600px;
  min-width: 975px;
  margin-bottom: 15px;
  display: block;
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  max-height: 750px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

#owl-demo .item {
  position: relative;
}

#owl-demo .owl-wrapper-outer {
  max-height: 600px;
}

#owl-demo .item .description {
  position: absolute;
  display: block;
  top: 40px;
  left: 0;
  color: #fff;
  width: 100%;
}

#owl-demo .item .description h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  padding: 0;
  margin: 25px 0 10px;
  font-family: proxima-nova,Proxima Nova,sans-serif,Arial,Helvetica;
}

#owl-demo .item .description a {
  padding: 2px 24px;
  background: rgba(0,0,0,.5);
  color: #fff;
  margin: 15px 0 0;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 3px;
  line-height: 44px;
  transition: all 250ms cubic-bezier(.77,0,.175,1);
  -webkit-transform: translateZ(0);
}

#owl-demo .item .description a:hover {
  text-decoration: none;
  background: rgba(0,0,0,.7);
}

#whyblurb,
#whynav li a,
#whynewsletter h3,
#whytopic #whytext .moreinfo a,
#whytopic #whytext .moreinfo h2,
#whytopic .videotopic a,
.ahv_superb_one h4,
.downloads_popup h5,
ul.tabs li {
  text-transform: uppercase;
}

#owl-demo .item .description.careers {
  text-align: center;
}

#owl-demo .item .description.careers h2 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
}

#owl-demo .item .description.why h2 {
  margin-top: 90px;
  color: #fff;
  margin-bottom: 0;
}

#owl-demo .owl-buttons div.owl-next,
#owl-demo .owl-buttons div.owl-prev {
  margin: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
}

#owl-demo .item .description.serenity {
  top: 0;
}

#owl-demo .item .description.serenity h2 {
  color: #323232;
}

#owl-demo .owl-controls {
  height: 0;
}

#owl-demo .owl-buttons {
  color: #fff;
}

#owl-demo .owl-buttons div {
  width: 100px;
  position: absolute;
  top: 0;
  display: block;
  min-height: 406px;
  height: 100%;
  text-indent: 9999px;
}

#owl-demo .owl-buttons div.owl-prev {
  float: left;
  left: 0;
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/owl-arrow-left.png) no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  background-size: cover;
}

#owl-demo .owl-buttons div.owl-prev:hover {
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/owl-arrow-left.png) no-repeat;
  background-size: cover;
  opacity: 60;
  filter: alpha(opacity=60);
}

#owl-demo .owl-buttons div.owl-next {
  float: right;
  right: 0;
  text-align: right;
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/owl-arrow-right.png) no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  background-size: cover;
}

#owl-demo .owl-buttons div.owl-next:hover {
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/owl-arrow-right.png) no-repeat;
  background-size: cover;
  opacity: 60;
  filter: alpha(opacity=60);
}

#owl-demo .owl-pagination {
  width: 100%;
  position: relative;
  bottom: 35px;
  text-align: center;
  color: #fff;
}

#owl-demo .owl-page {
  margin-left: 8px;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 9999px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.12);
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: background-color .25s,border-color .25s;
}

#owl-demo .owl-page.active,
#owl-demo .owl-page:hover {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color .25s,border-color .25s;
}

.teaser-module {
  max-width: 920px;
  margin: 30px auto 20px;
}

.teaser-module .item {
  width: 290px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.teaser-module .owl-wrapper-outer {
  margin-left: 6px;
}

.teaser-module .item .teaser-img-link {
  display: block;
  position: relative;
  margin-bottom: 15px!important;
  overflow: hidden;
  box-shadow: 0 0 40px transparent inset;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  transition: all .3s ease-in-out .3s;
}

.teaser-module .item .teaser-img-link:hover {
  box-shadow: 0 1px 5px rgba(0,0,0,.4),0 0 40px rgba(0,0,0,.1) inset;
  transition: all .5s ease-in-out .3s;
}

.teaser-module .item .teaser-img-link img {
  width: 290px;
}

.teaser-module .owl-controls .owl-buttons div {
  color: #fff;
  font-size: 22px;
  text-align: center;
  border-radius: 100px;
  font-weight: 100;
  display: block;
  width: 23px;
  height: 23px;
  margin: 61px 0 0;
  cursor: pointer;
  text-indent: 9999px;
  overflow: hidden;
  position: absolute;
  top: 15px;
  transition: all .2s ease-in-out 0s;
}

.teaser-module .owl-controls .owl-buttons div:hover {
  transition: all .2s ease-in-out 0s;
}

.teaser-module .owl-controls .owl-prev {
  position: absolute;
  left: -23px;
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/arrow-left.png) center center no-repeat #9f9f9f;
  background-size: 20px;
}

.teaser-module .owl-controls .owl-prev:hover {
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/arrow-left.png) center center no-repeat #afafaf;
  background-size: 23px;
}

.teaser-module .owl-controls .owl-next {
  position: absolute;
  right: -19px;
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/arrow-right.png) center center no-repeat #9f9f9f;
  background-size: 20px;
}

.teaser-module .owl-controls .owl-next:hover {
  background: url(http://cdn.ltvdns.com/tripleerv.com/images/arrow-right.png) center center no-repeat #afafaf;
  background-size: 23px;
}

.ahv_superb_one,
.downloads_popup {
  padding: 10px;
  z-index: 10000;
  background-repeat: none;
  display: none;
}

.ahv_superb_one {
  width: 630px;
  height: 375px;
  background-image: url(/images/pu_bkg.png);
  box-shadow: rgba(0,0,0,.5) 0 0 10px;
}

.ahv_superb_one p {
  line-height: 150%;
}

.downloads_popup {
  width: 650px;
  height: 468px;
  background-image: url(/images/downloads_image_bkg.gif);
  font-size: 12px;
  font-weight: 700;
  box-shadow: rgba(0,0,0,.5) 0 0 20px;
}

.close {
  background-repeat: no-repeat;
}

.downloads_popup h5 {
  font-size: 15px;
}

.downloads_popup a {
  color: #333;
  font-size: 11px;
  font-weight: 700;
}

.close {
  background-image: url(/images/close_button.png);
  position: absolute;
  right: -19px;
  top: -19px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.line_popup,
.video_popup {
  display: none;
  z-index: 10000;
  background-repeat: none;
}

.video_popup {
  padding: 10px;
}

.video_popup {
  width: 480px;
  height: 390px;
  background-image: url(/images/video_bkg.jpg);
  box-shadow: rgba(0,0,0,.7) 0 0 50px;
}

.line_popup {
  width: 1200px;
  height: 477px;
  background-image: url(/images/line_popup_bkg.gif);
  box-shadow: rgba(0,0,0,.5) 0 0 20px;
}

#whynav {
  z-index: 10000;
}

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel,
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
}

.owl-carousel {
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-buttons div,
.owl-controls .owl-page {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

ul.tabs {
  margin: 0!important;
  padding: 0;
  height: 51px;
}

ul.tabs li {
  float: left;
  padding: 0;
  margin: 0;
}

ul.tabs a {
  width: 194px;
  padding-top: 19px;
  padding-bottom: 14px;
  float: left;
  font-size: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 18px;
  background-color: #ddd;
  color: #333;
  position: relative;
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
}

ul.tabs a:hover {
  background-color: #ccc;
  color: #333;
  box-shadow: inset 0 0 10px rgba(0,0,0,.1);
}

ul.tabs a.current {
  background-color: #fff;
  cursor: default;
  border-bottom: 1px solid #fff;
}

ul.tabs a.current:hover {
  box-shadow: none;
}

.panes>div {
  display: none;
  min-height: 150px;
  padding: 10px 25px 30px;
  background-color: #fff;
}

#craftsmanship {
  background: url(/company/images/why-videobg01-craftsmanship-blur.jpg) center center no-repeat #aeaeae!important;
}

#design {
  background: url(/company/images/why-videobg02-design-blur.jpg) center center no-repeat #aeaeae!important;
}

#integration {
  background: url(/company/images/why-videobg03-integration-blur.jpg) center center no-repeat #aeaeae!important;
}

#technique {
  background: url(/company/images/why-videobg04-technique-blur.jpg) center center no-repeat #aeaeae!important;
}

#quality {
  background: url(/company/images/why-videobg05-quality-blur.jpg) center center no-repeat #aeaeae!important;
}

#staff {
  background: url(/company/images/why-videobg06-staff-blur.jpg) center center no-repeat #aeaeae!important;
}

#foundation {
  background: url(/company/images/why-videobg07-foundation-blur.jpg) center center no-repeat #aeaeae!important;
}

#lifestyle {
  background: url(/company/images/why-videobg08-lifestyle-blur.jpg) center center no-repeat #aeaeae!important;
}

#whyfeature {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: default;
}

#whyfeatureplay {
  width: 975px;
  height: 548px;
  margin-right: auto;
  margin-left: auto;
  text-align: center!important;
  cursor: auto;
  position: relative;
  display: block;
  margin-bottom: 0;
  padding-top: 20px;
}

#whyfeature .playvideo,
#whynav li,
#whynav ul {
  text-align: center;
}

#whyfeatureplay .playvideo {
  width: 975px;
  height: 548px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

#whynav {
  width: 100%;
  background: url(/company/images/why-bluegradient.jpg) center top repeat-x #033d74;
  color: #fff;
  box-shadow: 0 1px 7px rgba(0,0,0,.12);
  height: 85px;
  font-family: "Knockout 50 A","Knockout 50 B"!important;
  font-style: normal;
  font-weight: 400;
}

#whynav ul {
  height: 85px;
  width: 975px;
  overflow: hidden;
  list-style: none;
  margin: 0 auto 7px;
  padding: 0;
  font-size: .87em;
  z-index: 200;
}

#whynav li {
  margin: 0!important;
  padding: 0!important;
  float: left;
  vertical-align: middle;
  width: 121.8px;
}

#whynav li a {
  padding: 36px 0 0;
  margin: 0;
  display: block;
  border-left: 1px solid #074c8e;
  height: 55px;
  text-decoration: none;
  -moz-transition-duration: .2 .5s;
  -webkit-transition-duration: .2 .5s;
  -o-transition-duration: .2 .5s;
  font-size: 18px;
  letter-spacing: .65px;
  color: #fff!important;
}

#whyblurb a,
#whytopic .videotopic a {
  display: inline-block;
  text-align: center;
}

#whynav li a#videofeature01 {
  border-left: none!important;
}

#whynav li a:hover {
  // background-image: linear-gradient(top,#1e4d90 0,#18478d 66%);
  // background-image: -ms-linear-gradient(top,#1e4d90 0,#18478d 66%);
  // background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#1e4d90),color-stop(.66,#18478d));
  color: #fff;
  -moz-transition-duration: .1s;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
}

#whyblurb a:hover,
#whytopic .videotopic a,
#whytopic .videotopic a:hover {
  -moz-transition-duration: .18s;
  -webkit-transition-duration: .18s;
  -o-transition-duration: .18s;
}

#whyblurb {
  text-align: center;
  width: 975px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 35px;
}

#whyblurb h2 {
  color: #373737;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  padding: 0 0 10px;
}

#whyblurb h2 span {
  font-weight: 400;
  color: #727272;
}

#whyblurb a {
  background: url(/company/images/why-btn-moreinfoarrow.png) bottom center no-repeat;
  width: 26px;
  height: 27px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}

#whyblurb a:hover {
  background-position: top center;
}

img#playfeature {
  cursor: pointer;
}

#whytopic {
  padding-top: 85px;
}

#whytopic .videotopic {
  height: 548px;
  background: #e6e6e6;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#whytopic .videotopic a {
  position: relative;
  z-index: 100;
  margin-top: 238.5px;
  color: #fff;
  font-size: 1.3em;
  letter-spacing: .12em;
  background: url(/company/images/why-btn-arrow-lg.png) 90% center no-repeat #033d74;
  background-size: 12px;
  border-radius: 3px;
  padding: 12px 85px 12px 40px;
  font-weight: 400;
}

#whytopic .videotopic a:hover {
  background: url(/company/images/why-btn-arrow-lg.png) 92% center no-repeat #1f529c;
  background-size: 12px;
  text-decoration: none;
}

#whytopic #whytext .circle img,
#whytopic #whytext .circle img:hover {
  -moz-transition-duration: .78s;
  -webkit-transition-duration: .78s;
  -o-transition-duration: .78s;
}

#whytopic #whytext {
  width: 975px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  overflow: hidden;
}

.topic02 #whytext .circle,
.topic03 #whytext .circle,
.topic05 #whytext .circle,
.topic07 #whytext .circle {
  margin-right: 4%;
  overflow: hidden;
  height: 182px;
  text-align: center;
}

#whytopic #whytext .circle img {
  margin-top: 25px;
  display: inline-block;
  padding-left: 25px;
  padding-right: 35px;
}

.topic02 #whytext .moreinfo p,
.topic03 #whytext .moreinfo p {
  padding-right: 5%!important;
}

#whytopic #whytext .circle img:hover {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-90deg);
}

.topic02 #whytext .moreinfo {
  float: left;
  width: 65%;
  margin-left: 0;
  padding-left: 5%;
}

.topic02 #whytext .circle {
  float: right;
  background: url(/company/images/why-iconbg-design.png) center center;
  width: 182px;
}

.topic03 #whytext .moreinfo {
  float: left;
  width: 65%;
  margin-left: 0;
  padding-left: 5%;
}

.topic03 #whytext .circle {
  float: right;
  background: url(/company/images/why-iconbg-integration.png) center center;
  width: 182px;
}

.topic04 #whytext .moreinfo {
  float: right;
  width: 66%;
  margin-left: 0;
  padding-right: 0;
}

.topic04 #whytext .moreinfo p,
.topic05 #whytext .moreinfo p {
  padding-right: 5%!important;
}

.topic04 #whytext .circle {
  float: left;
  background: url(/company/images/why-iconbg-technique.png) center center;
  width: 182px;
  height: 182px;
  overflow: hidden;
  text-align: center;
  margin-left: 4%;
}

.topic05 #whytext .moreinfo {
  float: left;
  width: 65%;
  margin-left: 0;
  padding-left: 5%;
}

.topic05 #whytext .circle {
  float: right;
  background: url(/company/images/why-iconbg-quality.png) center center;
  width: 182px;
}

.topic06 #whytext .moreinfo {
  float: right;
  width: 66%;
  margin-left: 0;
  padding-right: 0;
}

.topic06 #whytext .moreinfo p,
.topic07 #whytext .moreinfo p {
  padding-right: 5%!important;
}

.topic06 #whytext .circle {
  float: left;
  background: url(/company/images/why-iconbg-staff.png) center center;
  width: 182px;
  height: 182px;
  overflow: hidden;
  text-align: center;
  margin-left: 4%;
}

.topic07 #whytext .moreinfo {
  float: left;
  width: 65%;
  margin-left: 0;
  padding-left: 5%;
}

.topic07 #whytext .circle {
  float: right;
  background: url(/company/images/why-iconbg-foundation.png) center center;
  width: 182px;
}

.topic08 #whytext .moreinfo {
  float: right;
  width: 66%;
  margin-left: 0;
  padding-right: 0;
}

.topic08 #whytext .moreinfo p {
  padding-right: 5%!important;
}

.topic08 #whytext .circle {
  float: left;
  background: url(/company/images/why-iconbg-lifestyle.png) center center;
  width: 182px;
  height: 182px;
  overflow: hidden;
  text-align: center;
  margin-left: 4%;
}

.topic01 #whytext .moreinfo {
  float: right;
  width: 65%;
}

.topic01 #whytext .circle {
  background: url(/company/images/why-iconbg-craftsmanship.png) center center;
  width: 182px;
  height: 182px;
  overflow: hidden;
  text-align: center;
  float: left;
  margin-left: 7%;
}

#whynewsletter .whysignup #mc_embed_signup input.button,
#whynewsletter .whysocial li a {
  -moz-transition-duration: .18s;
  -webkit-transition-duration: .18s;
  -o-transition-duration: .18s;
  height: 42px;
  text-indent: 9999px;
  white-space: nowrap;
  overflow: hidden;
}

#whytopic #whytext .moreinfo h2 {
  color: #353535;
  font-weight: 650;
  font-size: 1.6em;
}

#whytopic #whytext .moreinfo p {
  color: rgba(89,89,89,.72);
  font-weight: 250;
  line-height: 1.8em;
  padding-right: 20%;
  padding-bottom: 15px;
  font-size: 16px;
}

#whytopic #whytext .moreinfo a {
  color: #fff;
  text-deocration: none;
  background: #033d74;
  letter-spacing: .12em;
  font-size: 12px;
  border-radius: 3px;
  padding: 10px 25px 8px;
  font-weight: 600;
  -moz-transition-duration: .18s;
  -webkit-transition-duration: .18s;
  -o-transition-duration: .18s;
  margin-right: 10px;
  float: left;
}

#whytopic #whytext .moreinfo a:hover {
  background: #1f529c;
  text-decoration: none;
  -moz-transition-duration: .18s;
  -webkit-transition-duration: .18s;
  -o-transition-duration: .18s;
}

#whynewsletter {
  border-radius: 4px;
  margin-top: 95px;
  background: #fff;
  padding: 70px;
  width: 805px;
  margin-left: auto;
  margin-right: auto;
}

#whynewsletter h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  color: #4a4a4a;
  font-size: 1.76em;
  font-weight: 600;
  letter-spacing: .02em;
}

#whynewsletter h3 span {
  color: #6f6f6f;
  font-weight: 300;
  text-transform: none;
}

#whynewsletter p {
  border-top: 1px solid #cacaca;
  margin: 40px 0 30px;
  padding: 40px 14% 0 0;
  color: rgba(89,89,89,.72);
  font-weight: 250;
  line-height: 1.8em;
  font-size: .97em;
  font-family: simianbold,sans-serif,Arial,Helvetica;
}

#whynewsletter .whysignup {
  width: 65%;
  float: left;
}

#whynewsletter .whysignup ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#whynewsletter .whysignup li {
  display: inline-block;
}

#whynewsletter .whysignup #mc_embed_signup {
  background: 0 0;
}

#whynewsletter .whysignup #mc_embed_signup form {
  padding: 0;
}

#whynewsletter .whysignup input[type=email] {
  color: rgba(143,143,143,.75);
  font-weight: 100;
  padding: 8px;
  width: 270px;
  background: #fff;
  border: 5px solid #d0d0d0;
  margin: 0;
}

#whynewsletter .whysignup #mc_embed_signup input.button {
  background: url(/company/images/why-maillist-submit.jpg) top center no-repeat #033d74;
  display: block;
  width: 42px!important;
  border-radius: 0;
  padding: 0;
  margin: 0 0 0 -4px;
  min-width: inherit;
}

#whynewsletter .whysignup #mc_embed_signup input.button:hover {
  background-position: bottom center;
  -moz-transition-duration: .18s;
  -webkit-transition-duration: .18s;
  -o-transition-duration: .18s;
}

#whynewsletter .whysocial {
  width: 25%;
  float: right;
  text-align: right;
}

#whynewsletter .whysocial ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#whynewsletter .whysocial li {
  display: inline-block;
  margin-left: 5px;
}

#whynewsletter .whysocial li a {
  display: block;
  background-position: top center;
  width: 42px;
}

#whynewsletter .whysocial li a:hover {
  background-position: bottom center!important;
  -moz-transition-duration: .1 .1s;
  -webkit-transition-duration: .1 .1s;
  -o-transition-duration: .1 .1s;
  text-decoration: none;
}

#whynewsletter .whysocial li a.twitter {
  background: url(/company/images/why-social-flickr.gif) top center no-repeat;
}

#whynewsletter .whysocial li a.googleplus {
  background: url(/company/images/why-social-youtube.gif) top center no-repeat;
}
