h1, h2 {
  margin-bottom: 1rem;
}

h4, h5 {
  margin-bottom: 0.625rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-weight: 400;
  font-family: "Knockout 50 A","Knockout 50 B", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
}

// #product_header h1,
// .cta_box a,
// .cta_title,
// .download_left h5,
// .feature_grid a,
// .feature_grid h5,
// .image_grid_text h5,
// .introtext h2,
// .product_sub_category h5,
// .product_wrap h5,
// .productbrochure a,
// .text_right h2 {
//   text-transform: uppercase;
// }

#content_nav ul,
.footer_list,
.right_col_links li,
.sitemap_list,
ul.tabs li {
  list-style-type: none;
}

.action_button,
.explore {
  font-family: "Knockout 50 A","Knockout 50 B";
  font-style: normal;
}
