.cta_box,
.cta_box a,
.main-menu li a,
.popup_box {
  text-align: center;
}

.cushycms li {
  list-style: none;
}

.cta_box_wrap {
  width: 915px;
  padding: 10px 30px;
  margin-bottom: 100px;
  overflow: hidden;
}

.cta_box {
  width: 210px;
  height: 280px;
  border-right: 1px solid #dcdcdc;
  float: left;
  font-family: proxima-nova,Proxima Nova,sans-serif,Arial,Helvetica;
  cursor: pointer;
}

.cta_title {
  font-family: "Knockout 50 A","Knockout 50 B";
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.cta_title {
  margin-top: 40px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #333;
  font-size: 21px;
}

.cta_box p {
  font-size: 13.3px!important;
  padding: 10px 20px;
  min-height: 110px;
  color: #777;
  line-height: 170%!important;
  font-family: proxima-nova,Proxima Nova,sans-serif,Arial,Helvetica;
}

.cta_box:hover p {
  color: #555;
}

.cta_box a {
  font-size: 16px;
  padding: 5px 35px 5px 15px;
  transition: all .3s;
  border-radius: 3px;
  font-family: "Knockout 50 A","Knockout 50 B";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  background: url(/images/feature_arrow.png) 92% center no-repeat #033d74;
  border: 1px solid #033d74;
  color: #fff;
  display: inline-block;
}

.cta_box:hover a {
  background: url(/images/feature_arrow.png) 94% center no-repeat #042a4f;
  border-color: #042a4f;
  color: #fff;
  text-decoration: none;
}
