#filterGroup { margin-bottom: 20px; }

#filterGroup select {
  padding: 8px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 5px;
  border-radius:4px;
  box-shadow: 0;
  background: $darkblue;
  color: $white;
  border: none;
  outline: none;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  width: 445px;
}

#filterGroup label { position:relative; }
#filterGroup label:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: -2.5px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $white;
}

.gallery img {
	float: left;
	margin-right: 8px;
	margin-bottom: 0px;
	border: none;
	cursor: pointer;
	background: #e6e6e6;
	position: relative;
	z-index: 0;
	transition:all .08s ease;
	margin-bottom: 10px;
}

.gallery img:hover {
	opacity: 0.60;
	filter: alpha(opacity=60);
	box-shadow: 0px 2px 3px rgba(72,72,72,0.75);
	transition:all .03s ease;
}

.gallery .item:hover .grid-post-info {
	height: 146px;
	top: 0;
	margin-bottom: -146px;
	opacity: 100;
	filter: alpha(opacity=100);
	transition: all .2s ease;
}
