// imagepopups.scss

.feature-inspector ul li {
  width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	text-indent: -999px;
	word-wrap: break-word;
	top: 0;
	left: 0;
	background: rgba(3,61,116,1) url(http://leisurevans.com/images/plus-icon.png) no-repeat center center;
	background-size: contain;
	font-size: 0;
	z-index: 100;
	border: 6px solid transparent;
	border-radius: 50px;
}

.feature-inspector ul li a {
  background: transparent;
	width: 36px;
	height: 36px;
	display: block;
	position: relative;
	font-size: 0;
	z-index:100;
	border: 8px solid white;
	border-radius: 50px;
	top: -11.75px;
	left: -11.75px;
	-webkit-animation: pulsate 1.5s infinite ease-in-out forwards;
	-moz-animation: pulsate 1.5s infinite ease-in-out forwards;
	animation: pulsate 1.5s infinite ease-in-out forwards;
}

.feature-inspector ul li a:hover {
  background-color: transparent;
	border: 8px solid white;
	border-radius: 50px;
	-webkit-animation: pulsate 1.3s infinite ease-in-out forwards;
	-moz-animation: pulsate 1.3s infinite ease-in-out forwards;
	animation: pulsate 1.3s infinite ease-in-out forwards;
}

.feature-popup {
  position: absolute;
  background: white;
  -moz-box-shadow: 0px 0px 18px rgba(204,204,204,0.65);
  -webkit-box-shadow: 0px 0px 18px rgba(204,204,204,0.65);
  box-shadow: 0px 0px 18px rgba(204,204,204,0.65);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
  z-index: 500;
}

.feature-popup p {
  padding: 1rem;
  font-size: 0.85rem;
}

.feature-popup-img {
  padding-bottom: 1rem;
}

.ahvsuperb .feature01 {
  top: 360px;
  left: 95px;
}

.ahvsuperb .feature02 {
  left: 200px;
  top: 325px;
}

.ahvsuperb .feature03 {
  left: 390px;
  top: 360px;
}

.ahvsuperb .feature04 {
  left: 570px;
  top: 400px;
}

.ahvsuperb .feature05 {
  left: 625px;
  top: 420px;
}

@-webkit-keyframes pulsate{
0%{-webkit-transform:scale(.6);opacity:0}
25%{-webkit-transform:scale(.7);opacity:.2}
55%{-webkit-transform:scale(.9);opacity:.6}
80%{-webkit-transform:scale(1.1);opacity:0}
100%{-webkit-transform:scale(1.1);opacity:0}
}
@-moz-keyframes pulsate{
0%{transform:scale(.6);opacity:0}
25%{transform:scale(.7);opacity:.2}
55%{transform:scale(.9);opacity:.6}
80%{transform:scale(1.1);opacity:0}
100%{transform:scale(1.1);opacity:0}
}
@keyframes pulsate{
0%{transform:scale(.6);opacity:0}
25%{transform:scale(.7);opacity:.2}
55%{transform:scale(.9);opacity:.6}
80%{transform:scale(1.1);opacity:0}
100%{transform:scale(1.1);opacity:0}
}
