.overviewnav {
	position: fixed;
	right: 22px;
	top: 44%;
	z-index: 150;
	display: none;
}
.overviewnav ul {
	list-style: none outside;
	margin: 0;
	padding: 0;
	text-align: center;
}
.overviewnav li {
	zoom: 1;
	position: relative;
	margin: 0 8px;
	text-align: right;
	width: 12px;
	height: 12px;
	margin: 0;
	padding: 0;
	list-style: none outside;
	margin-bottom: 10px;
	padding-right: 70px;
}
.overviewnav li a {
	background: #fff;
	-webkit-tap-highlight-color: rgba(0,0,0,.25);
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	position: absolute;
	top: 2px;
	right: 1px;
	width: 8px;
	height: 8px;
	text-indent: 100px;
	overflow: hidden;
	white-space: nowrap;
	background: #949494;
	outline: none;
	-webkit-transform: translateZ(0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	-moz-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;

	font-family: 'proxima nova', sans-serif;
}
.overviewnav li:hover a {
	top: 0;
	right: 0;
	border: 1px solid #949494;
	background: transparent;
	width: 10px;
	height: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	-moz-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;

	text-indent: -80px;
	text-decoration: none;
	overflow: visible;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	color: #949494;
}
.overviewnav li a:hover {
	right: 0;
	border: 1px solid #949494;
	background: transparent;
	width: 10px;
	height: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	-moz-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;

	text-indent: -80px;
	text-decoration: none;
	overflow: visible;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	color: #949494;
}
.overviewnav li a.active {;
	background-color: transparent;
	top: 0px;
	right: 0;
	border: 1px solid #949494;
	background: transparent;
	width: 10px;
	height: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
