.rollerblade-img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;

}

.rollerblade-drag {
	cursor:move;
}

.vt-360 {
  max-width: 100%;
}

.vt-360-overlay {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 3rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: $lightgrey;
}
