.content-nav-wrapper {
  width: 100%;
  height: 80px;
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 999;
  background: #fff;
}

.breadcrumbs {
  line-height: 80px;
  color: #666;
  width: 310px;
  letter-spacing: .25px;
}

.breadcrumbs a {
  color: #000;
}

.content-nav {
  float: left;
  width: 100%;
  height: 80px;
  font-family: "Knockout 50 A","Knockout 50 B";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.content-nav ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.content-nav li {
  display: inline;
  float: left;
}

.content-nav a,
.content-nav a:visited {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #033d74;
  font-size: 16px;
  line-height: 80px;
  letter-spacing: .65px;
}

.f_table,
.v_table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  text-align: left;
}

.content-nav .on,
.content-nav .on:hover,
.content-nav .on:visited,
.content-nav .on:visited:hover,
.content-nav a:hover,
.content-nav a:visited:hover {
  box-shadow: inset 0 -6px 0 0 #033d74;
  color: #042a4f;
}

.content-nav a.brochured {
  background: url(/images/document.png) 12px 30px no-repeat #fafafa;
  overflow: hidden;
  padding-left: 38px!important;
  color: #000;
}

.content-nav a.brochured:hover {
  background-color: #f9f9f9;
}
