<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

  {% include head.html %}

  <body>

    {% include menu.html %}

    {{ content }}

    {% include footer.html %}

  </body>

</html>
