<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

  {% include head.html %}

  <body>

    {% include menu.html %}

    <div id="product_header">

      <div class="wrapper">

        <h1><span>{{ page.product }}</h1>

      </div>

    </div><!--close #product_header-->

    <div class="content-nav-wrapper">

      <div class="wrapper">

        {% include contentnav.html %}

      </div><!-- close wrapper -->

    </div><!-- close content-nav-wrapper -->

    {% if page.title == 'Overview' %}{% include overviewnav.html %}{% endif %}

    <div class="wrapper product-content {{page.group}}">

      {{ content }}

    </div>

    {% include footer.html %}

    <script>
    $(document).ready(function() {
    		$(".content-nav-wrapper").sticky();
    		$("img[rel]").overlay({fixed: false, top: 135, effect: 'apple', mask: {color: '#111', loadSpeed: 100, opacity: 0.5}  });
    		$("a[rel], .mini_logos img[rel], .content img[rel]").overlay({fixed: false, mask: {color: '#fff', loadSpeed: 100, opacity: 0.95}  });
    		$("#product_header").backstretch("{{page.banner}}", {speed: 650});
    });
    {% if page.title == 'Photos' %}
    var swipeboxInstance = $(".swipebox-isotope:not(.isotope-hidden .swipebox-isotope)").swipebox();
    $(function() {
      var $container = $('#photo-grid'),
      $select = $('div#filterGroup select');
      filters = {};

      $container.isotope({
        itemSelector: '.item'
      });
      $select.change(function() {
        var $this = $(this);

        var $optionSet = $this;
        var group = $optionSet.attr('data-filter-group');
        filters[group] = $this.find('option:selected').attr('data-filter-value');

        var isoFilters = [];
        for (var prop in filters) {
          isoFilters.push(filters[prop])
        }
        var selector = isoFilters.join('');

        $container.isotope({
          filter: selector
        });

        return false;
      });

    });
    {% endif %}
    </script>

    <!-- CURRENT BROCHURE FORM -->
    <div id="brochuredl" class="productbrochure overlay">
        <img src="/images/brochure_popup_header.jpg" width="730" height="200" alt="Lode-King AHV Super-B Grain Trailer" class="roundimg"/>
        <div class="brochuredl_content">
    			<div id="wufoo-qn15hem1ag58z8">
    			Fill out my <a href="https://melias.wufoo.com/forms/qn15hem1ag58z8">online form</a>.
    			</div>
    			<script type="text/javascript">var qn15hem1ag58z8;(function(d, t) {
    			var s = d.createElement(t), options = {
    			'userName':'melias',
    			'formHash':'qn15hem1ag58z8',
    			'autoResize':true,
    			'height':'1076',
    			'async':true,
    			'host':'wufoo.com',
    			'header':'show',
    			'ssl':true};
    			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    			s.onload = s.onreadystatechange = function() {
    			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    			try { qn15hem1ag58z8 = new WufooForm();qn15hem1ag58z8.initialize(options);qn15hem1ag58z8.display(); } catch (e) {}};
    			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    			})(document, 'script');</script>
        <a href="/downloads/index.html">View Archived Brochures</a>
        </div><!-- end brochuredl_content -->
    </div><!-- end productbrochure -->

  </body>

</html>
