---
layout: product
weight: 1
title: Overview
product: AHV Aluminum Super-B
description:
group: ahvsuperb
banner: /assets/img/grain/ahvsuperb/product_header_ahv.jpg
---
<section id="feature01" class="content">

	<h2>Explore the AHV Super-B</h2>

	<div class="feature-inspector">
        <img src="http://cdn.ltvdns.com/lodeking.com/media/grain/ahvsuperb/feature_inspect_ahvsuperb.png" alt="AHV Super B in Black" />
            <ul>
                <li class="feature01"><a href="javascript:void(0);" rel="#popup_1">Feature 01</a></li>
                <li class="feature02"><a href="javascript:void(0);" rel="#popup_2">Feature 02</a></li>
                <li class="feature03"><a href="javascript:void(0);" rel="#popup_3">Feature 03</a></li>
                <li class="feature04"><a href="javascript:void(0);" rel="#popup_4">Feature 04</a></li>
              <li class="feature05"><a href="javascript:void(0);" rel="#popup_5">Feature 04</a></li>
            </ul>
    </div>
    <ul class="floorplanfeatures">
        <li class="feature01">
            <a href="javascript:void(0);" rel="#popup_1">54" x 80" Corner Bed</a></li>
        <li class="feature02">
            <a href="javascript:void(0);" rel="#popup_2">A Dining Experience</a></li>
        <li class="feature03">
            <a href="javascript:void(0);" rel="#popup_3">Luxurious Finishes</a></li>
        <li class="feature04">
            <a href="javascript:void(0);" rel="#popup_4">Full-featured Galley</a></li>
       <li class="feature05">
            <a href="javascript:void(0);" rel="#popup_5">Screen Door</a></li>
    </ul>
    <ul class="floorplanlinks">
        <li><a href="pdf/2016_serenity_libero.pdf" target="_blank">PDF</a>
      	<li><a href="virtualtour.html#anchor">Virtual Tour</a>
        <li><a href="video.html#anchor">Video</a>
    </ul>

</section>


<section id="feature02" class="content">
	<div class="introtext">
		<h2>AT THE TOP OF ITS CLASS.</h2>
		<p>The AHV series of grain trailers is the newest in product development by Lode-King.  It offers all the benefits of the company's earlier innovations with the added benefits of a full aluminum trailer.  Designed from the ground up attention has been given to the details which operators have indicated are the most important in their daily operations.</p><br />
	</div><!-- /introtext -->

</section>

<section id="feature03" class="content">

	<div class="introtext">
		<h2>TAPERED END WALLS</h2>
	    <p>Tapered end walls are especially helpful in increasing the amount of room between the lead and pull of the super-B, which makes it a lot more comfortable to open and close tarps.  It’s also easier to climb up a slanted ladder.</p>
	</div><!--close .introtext-->

</section>

<div class="slider_2" id="highlight_2">
    <img src="images/vents.jpg" width="650" height="280" />
</div><!--close .slider_2-->

<div class="text_right">
	<h2>VENTED WALLS</h2>
    <p style="padding-bottom: 80px;">Vents along the lower rail allow for free air movement between the inner and outer walls.  This permits the equalization of temperature and humidity that prevents sweating and also assists in preventing material from sticking to the inside.</p>
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .text_right-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>


<div class="slider_3" id="highlight_3">
  <img src="images/slide_track.jpg" width="975" height="300" />
</div>

<div class="introtext">
	<h2>SELF-CLEANING CHUTE GATE SLIDE TRACK</h2>
    <p>The track on which the chute gate slides is designed so that it does not allow any product to remain on them.  The chute itself slides past the fully open trap for complete clean-out.</p>
</div><!--close .introtext-->

<div class="action">
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .action-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>


<div class="slider_4" id="highlight_4">
  <img src="images/chute_shaft.jpg" width="975" height="400" />
</div>

<div class="introtext">
	<h2>CHUTE OPENING SHAFTS</h2>
    <p>The shafts are stainless steel making them impervious to rust or flying road debris.  They’re set high enough to allow for a full crank rotation with un-loading augers in place.  You may also request a shaft on each side so you don’t have to un-load down-wind.</p>
</div><!--close .introtext-->

<div class="action">
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .action-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>


<div class="slider_2" id="highlight_5">
    <img src="images/tow_hooks.jpg" width="650" height="280" />
</div><!--close .slider_2-->

<div class="text_right">
	<h2>TOW HOOKS</h2>
    <p style="padding-bottom: 95px;">The tow hooks are not merely bolted to the back end of the trailer; they’re welded into place as an integral part of the rear sub-frame assembly.  They built to withstand a forceful tug if it’s needed.</p>
<div class="action_button">
    <a href="features.html">VIEW MORE FEATURES</a>
</div>
  <div class="top">
    	<img src="/images/top_arrow.gif" width="18" height="12" /><a href="#top">Back to Top</a>
    </div>
</div><!--close .text_right-->


<div class="shadow_line">
	<img src="/images/shadow.png" width="975" height="40"/>
</div>

<div class="cta_box_wrap">
    <div class="cta_box" onclick="location.href='/unity/index.html';">
        <div class="cta_title">AHV Super-B</div>
        <img src="http://placehold.it/191x108" width="191" height="108" alt="AHV Super-B" style="margin: 10px 0 20px 0;"> <br>
    </div>

    <div class="cta_box" onclick="location.href='/downloads/index.html';">
      <img src="http://placehold.it/200x125" width="200" height="125">
      <p>Download the latest product brochures or request a printed copy by mail.</p>
      <a href="/downloads/index.html">View Brochures</a>
    </div>

    <div class="cta_box" onclick="location.href='/dealers/index.html';">
      <img src="http://placehold.it/200x125" width="200" height="125">
      <p>Locate and contact your nearest dealer with our easy and convenient dealer locator.</p>
      <a href="/dealers/index.html">Find a Dealer Near You</a>
    </div>

    <div class="cta_box" style="border: none;" onclick="location.href='/ideas/index.html';">
      <img src="http://placehold.it/200x125" width="200" height="125">
      <p>Share your best, most innovative product ideas with us and see them come to life.</p>
      <a href="/ideas/index.html">Share Your Ideas</a>
    </div>
<div style="clear:both"></div>
</div>


<div class="feature-popup" id="popup_1" style="width: 400px">
    <div class="roundimg">
        <img src="http://leisurevans.com/serenity/gallery/2016_serenity_04.jpg" width="400" height="600" class="feature-popup-img">
    </div>
<p>Rest easy in the standard 54" x 80" corner bed.</p>
</div>

<div class="feature-popup" id="popup_1" style="width: 367px">
    <div class="roundimg">
        <!-- VIMEO EMBED -->
            <iframe src="//player.vimeo.com/video/106974988?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1&amp;loop=1" width="367" height="550" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> </div>
<p>The Serenity & Libero features two separate living spaces when the optional rear power sofa is chosen. The power sofa features 1” memory foam and folds down to form 54” x 80” bed at the push of a button. (Note: 2015 model shown)</p>
</div>

<div class="feature-popup" id="popup_2" style="width: 400px">
    <div class="roundimg">
        <img src="http://leisurevans.com/serenity/gallery/2016_serenity_11.jpg" width="400" height="600" class="feature-popup-img">
    </div>
<p>The sliding and rotating bi-directional front table ensures a comfortable dining experience and folds down to form a second bed.</p>
</div>

<div class="feature-popup" id="popup_3" style="width: 800px">
    <div class="roundimg">
        <img src="http://leisurevans.com/serenity/gallery/overall.jpg" width="800" height="533" class="feature-popup-img">
    </div>
<p>Inside the Serenity & Libero you will find beautiful solid wood curved cabinetry, Ultraleather™ upholstery and Private Collection Corian® countertops.</p>
</div>

<div class="feature-popup" id="popup_4" style="width: 800px">
    <div class="roundimg">
        <img src="http://leisurevans.com/serenity/gallery/galley.jpg" width="800" height="533" class="feature-popup-img">
    </div>
<p>The galley in the Serenity & Libero features a deep stainless steel sink, 2-burner cooktop and 6.4/7 cu.ft. 3-way fridge/freezer.</p>
</div>

<div class="feature-popup" id="popup_5" style="width: 400px">
    <div class="roundimg">
        <img src="http://leisurevans.com/serenity/gallery/2016_serenity_13.jpg" width="400" height="600" class="feature-popup-img">
    </div>
<p>The sliding screen door keeps the bugs out while letting fresh air in.</p>
</div>
